.ar-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

.blogs-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  text-align: justify;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

@media (max-width:768px) {
  .blogs-wrap{
    display: block;
  }

  .single-aricle-title{
text-align: center;
  }

  .ar-text{
    font-size: 0.9em;
    width: 70%;
    margin: auto;
  }
}
