.link-btn {
  text-decoration: none;
  border-radius: 0.5em;
  border-style: none;
  background: #2f439a;
  font-family: "RagRegular";
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing:0.75px;
  color: #FFFFFF;
  padding:0.8rem 1.5rem 0.8rem 1.5rem;
  margin-top: 1rem;
}

.link-btn:hover{
  color: #FFFFFF;
  box-shadow: 0 0 10px #aaaaaa;

}

.link-btn:active{
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */

}