.link-btn {
  text-decoration: none;
  border-radius: 0.5em;
  border-style: none;
  background: #2f439a;
  font-family: "RagRegular";
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing:0.75px;
  color: #FFFFFF;
  padding:0.8rem 1.5rem 0.8rem 1.5rem;
  margin-top: 1rem;
}

.link-btn:hover{
  color: #FFFFFF;
  box-shadow: 0 0 10px #aaaaaa;

}