
.footer{
  margin-top: 10rem;
}
.form-title,
.second-title {
  color: white;
}
.footer-content{
  padding:0 !important;
  margin:auto
}
.form-title {
  
  margin-bottom: 0;
  font-size: 1.48em;

}

.second-title {
  font-size: 19.8px;
  
  font-family: "LeonBold";
}

.contact-detail {
  font-size: 18px;
  font-weight: 700;
}

.detail-title {
  margin-top: 0;
  color: #fff;
}

.contact-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 0px;
}
.vl {
  margin-right: 6rem;
  padding-top:5px ;
  color: #fff;
}

.detail-wrap {
  padding-bottom: 15px;
}

.detail-name {
  font-size: 16px;
  font-weight: 500;
}

input {
  width: 100%;
  border-style:none none solid none  ;
  border-color: #d9d9d9 ;
  border-width: 1px;
  color: #2f439a !important;
  font-weight: 400;
  font-size: 1.2em;
  padding-bottom: 0.5rem;
}
textarea:focus, input:focus{
  outline: none;
}
.text-input {
  padding: 0.5rem;
}
.input-line {
  border-top: 1px solid #2f439b;
  opacity: 0.2;
  height: 1rem;
}

input[type="submit"] {
  background-color: #2f439a;
  color: white !important;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

textarea {
  overflow: auto;
  resize: vertical;
}

::placeholder {
  color: #2f439a;
}
.link1 .active, .link2 .active{
  text-decoration: none !important;
  color: #fff !important;
  font-weight: 600 !important;
}
@media (max-width: 767px) {
  .vl {
    border-left: 0px;
    text-align: center;
    padding-left: 0;
    margin-right: 0;
  }

  .form-title {
    font-size: 1.48em;
  }

  .second-title {
    font-size: 0.95rem;
  }
}
