.career-big-title {
  font-size: 50pt;
}
.career-page-bg{
  background-image: url('../../assets/images/sol-up.png') ;
  background-repeat: no-repeat;
  background-size: 100% 56%;
  /* background-position-y: -45%; */

}
.job-title {
  margin: 2rem 0 2rem 0;
  font-weight: bolder;
}
.job-offers {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.job-title,
.job-card-title,
.job-card-text,
.job-details,
.career-big-title {
  color: #2f439a;
  font-family: "RagRegular";
}
.job-card-title,.job-details{
    font-weight: bold;

}
.job-card-title{
    font-size:1.2rem;
}
.job-card-text{
    font-size:1.1rem;
}
.job-details{
    font-size:1rem;

}

.offers{
  margin-top: 7rem !important;
}
@media screen and  (max-width: 994px) {
  .career-page-bg .career-content{
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .career-page-bg{
    background-image: url('../../assets/images/page-bg-small.png') ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 32%;

  }
}

@media (min-width: 600px) {
  .job-offers {
    grid-template-columns: repeat(2, 1fr);

  }
  
}
@media (min-width: 900px) {
  .job-offers {
    grid-template-columns: repeat(3, 1fr);

  }


}
