.prepayment-page-bg{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

.prepayment-page-title{
  font-size: 3rem;
  font-weight: bold;
  font-family: "LeonRegular";
  color: #2f439a;

}

.prepayment-page {
  width: 100%;
  margin: auto;
  border: 1px;
  border-radius: 20px;
  margin:  auto;
  background-color: #fff;
padding: 2rem 2rem 6rem 2rem;
}

.contact-title {
  color: #2f439a;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}

.info {
  padding-top: 5px;
  color: #2f439a;
}
.info-details{
  padding-bottom: 2rem;

}
.contact-title {
  font-size: 19.8px;
  font-family: "LeonBold";
}
.contact-footer{

    position: fixed;
    bottom: 0;
    height: 0;
  }

  .customer-details{
    margin: 5px;
    padding: 8px 8px;
    border-radius: 10px;
    flex-basis: 12rem;
    flex-grow:1 ;
    flex-shrink: 0;
  }

table{
  margin:30px 5px;
  
}
 tr th,tr td {
    border: 3px #fff ;
    border-style: solid !important ;
    font-size:1.1vw ;
  }
  th{
    color: #fff;
    background-color: #6992e2

  }
  tr:nth-of-type(odd) { 
    background: #bed1f3
    ; 
  }
  tr:nth-of-type(even) { 
    background:   #e9f0fb

    ; 
  }

@media (max-width: 767px) {
  .prepayment-page{
    grid-template-columns: repeat(1, 1fr);
  }

  .info {
    padding-top: 2rem;
    width: 100%;
    text-align: right;
  }
  
  .info {
    border-left: 0px;
    text-align: center;
    padding-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1000px) {  
  .prepayment-page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap:60px;
    grid-row-gap: 0px;
    }
}

@media (min-width: 767px) {  
  .prepayment-page{
  grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 1550px) {  
  .container-contact {
 width: 88rem;
 margin: auto;
}
}

